<div id="login">
<h1>Login</h1>
<%= form_tag :action => "login" %> 
	<div class="field">
		Username:<br />
		<%= text_field_tag :username, params[:username] %> 
	</div>
	<div class="field"> 
		Password:<br /> 
		<%= password_field_tag :userpass, params[:userpass] %>
	</div> 
	<div class="actions">
		<%= submit_tag "Sign in" %> | <%= link_to 'SignUp', new_user_path %>
	</div>
</div>

