
<% form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 99 %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email, :size => 100 %>
  </div>
  <div class="field">
    <%= f.label :sexo %>
    <%= f.select :sexo, [["masculino","masculino"],["feminino","feminino"]] %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age, :size => 3 %>
    <%= f.label :peso %>
    <%= f.text_field :peso, :size => 3 %>
    <%= f.label :altura %>
    <%= f.text_field :altura, :size => 5 %>
  </div>
  <div class="field">
    Login
    <%= f.text_field :username %>
  </div>
  <div class="field">
	Password
    <%= f.password_field :userpass %>
  </div>
  <div>
  	<%= f.label :photo %>
  	<%= f.file_field :photo %> 
  </div><br /><br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
