<%= form_for(@run) do |f| %>
  <%= f.hidden_field :user_id %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@run.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% @run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    Distância (metros)<br />
    <%= f.text_field :distance %>
  </div><br />
  <div class="field">
    Data<br />
    <%= f.date_select :day, :order => [:day, :month, :year] %>
  </div><br />
  <div class="field">
    Tempo Gasto (minutos)<br />
    <%= f.text_field :alltime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
