<div id="contents">
<h1>Listando Treinos</h1>

<table border=1>
  <tr>
    <th>User</th>
    <th>Distance</th>
    <th>Day</th>
    <th>Tempo Gasto (minutos)</th>
    <th>Actions</th>
  </tr>

<% @runs.each do |run| %>
  <tr align="center">
    <td><%= run.user.name %></td>
    <td><%= run.distance %></td>
    <td><%= run.day.strftime("%d/%m/%Y") %></td>
    <td><%= run.alltime %></td>
    <td><%= link_to 'Show', run %>
    <%= link_to 'Edit', edit_run_path(run) %>
    <%= link_to 'Destroy', run, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Run', new_run_path %>
</div>